.app {
  display: grid;
  place-items: center;
  /* center inside the container */
  height: 100vh;
  background-color: rgba(250, 200, 208, 0.075);
}

.app__body {
  display: flex;
  flex-direction: row;
}

.app__content {
  display: flex;
  flex-direction: column;
}

.app__contentBody {
    display: flex;
    background-color: #f0eeee;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
    border-radius: 20px;
    border: 0.5px solid lightgray;
    width: 80vw;
    height: 82vh;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */ 
    scrollbar-width: none; /* Firefox */ 
}

.app__contentBody::-webkit-scrollbar {
  display: none;
}

/*
.app__body {
  display: flex;
  background-color: #f0eeee;
  height: 80vh;
  width: 80vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  border-radius: 20px;
}
*/