.contentHeader {
    display: flex;
    background-color: #f0eeee;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
    border: 0.5px solid lightgray;
    border-radius: 20px;
    width: 80vw;
    height: 6vh;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */ 
    scrollbar-width: none; /* Firefox */  
}

.contentHeader::-webkit-scrollbar {
    display: none;
}

.contentHeader__menu {
    padding-left: 15px;
    font-weight: 200;
    display: flex;
    
}

.contentHeader__menu > p {
    margin: 0 20px;
}